}
a{
   text-decoration: none;
}
.b{
   width:200px;
   font-size: 30px;
   margin-left: 500px;
   margin-top: 200px;
   float: left;
   
}
.c{
   width:200px;
   font-size: 30px;
   margin-left:100px;
   margin-top: 200px;
   float: left;
}
.e{
   width:200px;
   font-size: 30px;
   margin-left: 100px;
   margin-top: 200px;
   float: left;
}
