
.custom-container{
  padding: 30px 50px;
  min-height: 650px;
}

.custom-container .custom-card-group{
  width: 100%;
}

.custom-container .custom-card-group .card{
  float: left;
  width: 25% !important;
  height: auto;
  padding: 20px;
}

.card-body{
  padding: 15px;
  min-height: 550px;
  transition: 0.3s all;
  background: rgb(90, 146, 192);
}

.card-body .title{
  text-align: center;
  margin-bottom: 10px;
}

.card-body img{
  width: 100% !important;
}

.card-body:hover{
  -webkit-box-shadow: 1px 3px 12px -1px rgb(90, 146, 192); 
  box-shadow: 1px 3px 12px -1px rgb(90, 146, 192);
}


h1 {
  font-size: 50px;
  color: #030705;;
  text-align: center
}

h2 {
  font-size: 20px;
  color: black;
  text-align: center
}

.lastrow h3 {
  position: center;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%)
}

.lastrow p {
  POSITION: center
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c3dbff;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  margin-top: 9.5%;
}

.wrapper h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  margin-bottom: 60px;
  text-align: center;

}

.leftSection {
  padding-left: 100px;
}

.rightScetion {
  padding-left: 250px;
}

.flex-container {
  min-height: 200px;
  max-width: 800px;
  margin: auto;
}

.flex-container .flex-item {
  float: left;
  width: 50% !important;
}

.btn {
  background-color: rgb(37, 220, 20);
  color: rgb(15, 14, 14);
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  background-color: rgb(255, 0, 0);
}

.shadow {
  -webkit-box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 12px -1px rgba(0, 0, 0, 0.75);
}